* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #000812;
}

.main-container {
  display: flex;
  height: 100vh;
  /* width: 100%; */
}

.first-container {
  position: sticky;
  height: 100vh;
}

.top {
  padding: 70px 30px 0;
  background-color: #fffcf8;
  align-items: center;
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 25px;
  /* margin-top: 30px; */
}

.top img {
  width: 350px;
}

.top h2 {
  width: 400px;
  line-height: 1.5;
}

.footer {
  line-height: 1.5;
}

.icon {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  gap: 1px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.tel {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

.second-container {
  font-family: "Montserrat", sans-serif;
  padding: 35px;
  margin-top: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
  /* padding-top: 40px; */
  margin-top: 250px;
  padding: 30px 25px 30px;
}

a {
  text-decoration: none;
  margin-right: 20px;
  font-size: 13px;
}

.context {
  color: gray;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sign-up {
  font-family: "Fraunces", serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

label {
  font-size: 12px;
}

::placeholder {
  font-size: 12px;
}

input {
  background-color: #fafafa;
  border: none;
  padding: 13px;
  width: 90%;
  margin: 10px 0 20px;
}

select {
  width: 90%;
  background-color: #fafafa;
  border: none;
  padding: 13px;
  color: gray;
  font-size: 12px;
  margin: 10px 0 20px;
}

.flex {
  display: flex;
  width: 90%;
}

.terms {
  margin-top: 30px;
  font-size: 12px;
  color: gray;
  margin-bottom: 25px;
}

.link {
  color: blue;
}

.btn {
  width: 100%;
  padding: 13px;
  background-color: rgba(0, 0, 255, 0.795);
  border: none;
  color: white;
  font-size: 12px;
}

.btn:hover {
  background-color: #6a6ff5;
  border: #6a6ff5;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #000812;
  }

  .main-container {
    display: flex;
    height: 100vh;
    /* width: 100%; */
  }

  .first-container {
    display: none;
  }
}

@media (max-width: 500px) {
  body {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .second-container {
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    margin-top: 100px;
  }

  /* .sub-header {

  } */

  .header {
    /* display: flex; */
    justify-content: space-between;
    /* gap: 30px; */
    padding-top: 500px;
    margin-top: 250px;

    /* padding: 30px 25px 30px; */
  }

  a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 9px;
  }

  .context {
    color: gray;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sign-up {
    font-family: "Fraunces", serif;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  label {
    font-size: 12px;
  }

  ::placeholder {
    font-size: 12px;
  }

  input {
    background-color: #fafafa;
    border: none;
    padding: 13px;
    width: 100%;
    margin: 10px 0 20px;
  }

  select {
    width: 90%;
    background-color: #fafafa;
    border: none;
    padding: 13px;
    color: gray;
    font-size: 12px;
    margin: 10px 0 20px;
  }

  .flex {
    display: flex;
    width: 100%;
  }

  .terms {
    margin-top: 30px;
    font-size: 12px;
    color: gray;
    margin-bottom: 25px;
  }

  .link {
    color: blue;
  }

  .btn {
    width: 100%;
    padding: 13px;
    background-color: rgba(0, 0, 255, 0.795);
    border: none;
    color: white;
    font-size: 12px;
  }

  .btn:hover {
    background-color: #6a6ff5;
    border: #6a6ff5;
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
